html {
  box-sizing: border-box;
  font-size: 12px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background: #1c1917;
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #1c1917;
}
::-webkit-scrollbar-track:hover {
  background: #292524;
}
::-webkit-scrollbar-thumb {
  background: #57534e;
}
::-webkit-scrollbar-thumb:hover {
  background: #78716c;
}

.photos {
  background: #292524;
  margin: 5vw;
  padding: 5vw;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px 20px;
}

.photos a {
  text-decoration: none;
  color: #1c1917;
}

.photos img {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: #171717 0px 0px 5px 1px;
  transition: transform 150ms ease-in-out;
  background-color: black;
}

.photos img:hover {
  box-shadow: #171717 0px 0px 10px 1px;
  transform: scale(2.4);
}
